DATABASE_URL="file:./dev.db"
JWT_ACCESS_SECRET="replaceMeAccessSecret"
JWT_REFRESH_SECRET="replaceMeRefreshSecret"
GOOGLE_CLIENT_ID="replaceMeGoogleClientId"
GOOGLE_CLIENT_SECRET="replaceMeGoogleClientSecret"
GOOGLE_REDIRECT_URL="http://localhost:3000/auth/google/callback"
FRONTEND_URL="http://localhost:3001"
API_PORT=3000
REDIS_URL="redis://localhost:6379"
